@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
html{
  height: 100%;
}
body {
  display: flex;
  height: 100%;
}
#root{
  width: 100%;
}
.chart-tools {
  margin-left: 50px;
}
.rate-currancy{
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.recharts-responsive-container{
  flex:1;
}
.rate-currancy button {
  padding: 10px;
  background: #fff;
  border: 0;
  color: #3d3a3a;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}
.rate-currancy-chart{
  display: flex;
  height: 30%;
  flex-flow:column;
}
.rate-currancy h2 {
  margin: 10px 0;
  margin-left: 50px;
}
.chart-tools-dates {
  margin: 10px 0;
}
.chart-tools-dates input[type='date'] {
  border: 0;
  border-bottom: 1px solid #d1cfcf;
  outline: none;
  padding: 5px;
}
.chart-tools-btns {
  margin-bottom: 10px;
}
.tooltip {
 background: #fff;
 padding: 15px;
 box-shadow:0 0 3px rgba(0, 0, 0, 0.3);
}
.tooltip .label,.tooltip .price{
  display: block;
  width: 100%;
}
